@model IEnumerable<AppDocentes.Models.Sede>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="d-flex justify-content-between align-items-center mb-3 flex-wrap">
    <h2 class="mb-3">Lista de Sedes</h2>
    <a asp-action="Create" class="btn btn-primary">Nueva Sede</a>
</div>

<div class="table-responsive">
    <table class="table table-striped table-hover">

        <thead class="thead-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Comuna)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Direccion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NomSede)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NomCiudad)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Comuna)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Direccion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NomSede)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NomCiudad)
            </td>
                <td>
                    <div class="btn-group" role="group">
                        <a asp-action="Edit" class="btn btn-warning btn-sm me-1" asp-route-id="@item.IdSede">
                            <i class="fas fa-edit"></i>
                        </a>
                        <a asp-action="Delete" class="btn btn-danger btn-sm me-1" asp-route-id="@item.IdSede">
                            <i class="fas fa-trash-alt"></i>
                        </a>
                    </div>
                </td>
        </tr>
    }
    </tbody>
</table>
</div>
