@model AppDocentes.Models.Dato

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Dato</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DatosAcademicos)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DatosAcademicos)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdDocentesNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdDocentesNavigation.IdDocente)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdGradosNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdGradosNavigation.IdGrado)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdDatos">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
