@model IEnumerable<AppDocentes.Models.Dato>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DatosAcademicos)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdDocentesNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdGradosNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DatosAcademicos)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdDocentesNavigation.IdDocente)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdGradosNavigation.IdGrado)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdDatos">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdDatos">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdDatos">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
